@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --color-primary: #db4444; /* The red color used extensively */
  --color-secondary: #00ff66; /* The green color for buttons */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* Keeping it white as requested by Figma */
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
